TZ=Asia/Shanghai
WECHAT_TAG=latest
WECHAT_API_PORT=8848
WECHAT_WORKER_PORT=8080
MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_DATABASE=openclaw_wechat
MYSQL_USER=openclaw_wechat
MYSQL_PASSWORD=change_me_mysql_password
ADMIN_KEY=change_me_admin_key
REDIS_DB=0
WEB_DOMAIN=127.0.0.1:8848
NEWS_SYN_WXID=true
DT=true
